@import "tailwindcss";

@theme {
  --color-desert-oasis--bg-color: #fff2d5; /*Background*/
  --color-desert-oasis--main-color: #d19d01; /*Color after typing, monkeytype logo, WPM Number acc number etc*/
  --color-desert-oasis--caret-color: #3a87fe; /*Cursor Color*/
  --color-desert-oasis--sub-color: #0061fe; /*WPM text color of scrollbar and general color, before typed color*/
  --color-desert-oasis--sub-alt-color: #eddebc;
  --color-desert-oasis--text-color: #332800; /*Color of text after hovering over it*/
  --color-desert-oasis--error-color: #76bb40;
  --color-desert-oasis--error-extra-color: #4e7a27;
  --color-desert-oasis--colorful-error-color: #76bb40;
  --color-desert-oasis--colorful-error-extra-color: #4e7a27;
}

:root {
  --bg-color: #fff2d5; /*Background*/
  --main-color: #d19d01; /*Color after typing, monkeytype logo, WPM Number acc number etc*/
  --caret-color: #3a87fe; /*Cursor Color*/
  --sub-color: #0061fe; /*WPM text color of scrollbar and general color, before typed color*/
  --sub-alt-color: #eddebc;
  --text-color: #332800; /*Color of text after hovering over it*/
  --error-color: #76bb40;
  --error-extra-color: #4e7a27;
  --colorful-error-color: #76bb40;
  --colorful-error-extra-color: #4e7a27;
}
