@import "tailwindcss";

@theme {
  --color-lavender--bg-color: #ada6c2;
  --color-lavender--main-color: #e4e3e9;
  --color-lavender--caret-color: #e4e3e9;
  --color-lavender--sub-color: #e4e3e9;
  --color-lavender--sub-alt-color: #a19bb9;
  --color-lavender--text-color: #2f2a41;
  --color-lavender--error-color: #ca4754;
  --color-lavender--error-extra-color: #7e2a33;
  --color-lavender--colorful-error-color: #ca4754;
  --color-lavender--colorful-error-extra-color: #7e2a33;
}

:root {
  --bg-color: #ada6c2;
  --main-color: #e4e3e9;
  --caret-color: #e4e3e9;
  --sub-color: #e4e3e9;
  --sub-alt-color: #a19bb9;
  --text-color: #2f2a41;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
