@import "tailwindcss";

@theme {
  --color-ms-cupcakes--bg-color: #ffffff;
  --color-ms-cupcakes--main-color: #5ed5f3;
  --color-ms-cupcakes--caret-color: #303030;
  --color-ms-cupcakes--sub-color: #d64090;
  --color-ms-cupcakes--sub-alt-color: #edf8fa;
  --color-ms-cupcakes--text-color: #0a282f;
  --color-ms-cupcakes--error-color: #a4dd32;
  --color-ms-cupcakes--error-extra-color: #90bd34;
  --color-ms-cupcakes--colorful-error-color: #a4dd32;
  --color-ms-cupcakes--colorful-error-extra-color: #87b330;
}
