@import "tailwindcss";

@theme {
  --color-serika-dark--bg-color: #323437;
  --color-serika-dark--main-color: #e2b714;
  --color-serika-dark--caret-color: #e2b714;
  --color-serika-dark--sub-color: #646669;
  --color-serika-dark--sub-alt-color: #2c2e31;
  --color-serika-dark--text-color: #d1d0c5;
  --color-serika-dark--error-color: #ca4754;
  --color-serika-dark--error-extra-color: #7e2a33;
  --color-serika-dark--colorful-error-color: #ca4754;
  --color-serika-dark--colorful-error-extra-color: #7e2a33;
}

:root {
  --bg-color: #323437;
  --main-color: #e2b714;
  --caret-color: #e2b714;
  --sub-color: #646669;
  --sub-alt-color: #2c2e31;
  --text-color: #d1d0c5;
  --error-color: #ca4754;
  --error-extra-color: #7e2a33;
  --colorful-error-color: #ca4754;
  --colorful-error-extra-color: #7e2a33;
}
