@import "tailwindcss";

@theme {
  --color-trackday--bg-color: #464d66;
  --color-trackday--main-color: #e0513e;
  --color-trackday--caret-color: #475782;
  --color-trackday--sub-color: #5c7eb9;
  --color-trackday--sub-alt-color: #3d4359;
  --color-trackday--text-color: #cfcfcf;
  --color-trackday--error-color: #e44e4e;
  --color-trackday--error-extra-color: #fd3f3f;
  --color-trackday--colorful-error-color: #ff2e2e;
  --color-trackday--colorful-error-extra-color: #bb2525;
}

:root {
  --bg-color: #464d66;
  --main-color: #e0513e;
  --caret-color: #475782;
  --sub-color: #5c7eb9;
  --sub-alt-color: #3d4359;
  --text-color: #cfcfcf;
  --error-color: #e44e4e;
  --error-extra-color: #fd3f3f;
  --colorful-error-color: #ff2e2e;
  --colorful-error-extra-color: #bb2525;
}
