@import "tailwindcss";
@import "../static/themes/serika_dark.css";
@import "../static/themes/desert_oasis.css";
@import "../static/themes/lavender.css";
@import "../static/themes/trackday.css";

html, body {
  overscroll-behavior: none;
  background-color: var(--color-bg, #323437);
  overflow-x: hidden;
}

main {
  overscroll-behavior: contain;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;  /* Safari and Chrome */
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 16px;
  width: 16px;
  background: var(--color-serika-dark--main-color, #e2b714);
  border-radius: 50%;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: var(--color-serika-dark--main-color, #e2b714);
  border-radius: 50%;
  cursor: pointer;
  border: none;
}
